.body__container  { 
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
}
a {
    text-decoration: none;
}

/* Input */
/* INPUT TEXT */
.input--text {
    height: 32px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    font-size: 14px;
}
.input--text:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 
                0 0 5px rgba(81,167,232,0.5);
}
  /* Vender Prefix (업체별 브라우저 접두사) */
.input--text::-webkit-input-placeholder { color: #cacaca; }
.input--text::-ms-input-placeholder { color: #cacaca; }
.input--text::-moz-input-placeholder { color: #cacaca; }


/* FLOAT CLEARFIX */
.clearfix::after {
    content: "";
    clear: both;
    display: block;
}
.float--left {
    float: left;
}
.float--right {
    float: right;
}

/* Inner */
.section {
    position: relative;
}
.section .inner {
    max-width: 1194px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}


/* Header */
header {

}
header .inner {
    height: 179px;
}
header .menu-group {
    display: flex;
    align-items: center;
    height: 100%;
}
header .logo {
    margin-right: 100px;
    font-size: 25px;
    font-weight: bold;
}
header .logo a {
    color: #333333;
}
header .main-menu {
    display: flex;
    font-weight: bold;
}
header .main-menu li a {
    display: block;
    margin: 0px 20px;
    color: #333333;
}
header .sign-group {
    display: flex;
    height: 100%;
    align-items: center;
}
#search-form {

}
#search {
    width: 160px;
    font-size: 13px;
    margin-right: 20px;
}
#search + [type="submit"] {
    display: none;
}

header .sign-menu {
    order: 1;
    display: flex;
    font-weight: bold;
}
header .sign-menu li a {
    display: block;
    margin: 0px 20px;
    color: #333333;
}

header .sign-menu:last-child {
    margin-right: 0px;
}




/* Product */
.section--product ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.section--product li {
    box-sizing: border-box;
}
.section--product .product li img {
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.section--product .product li a {
    color: #333333;
}
.section--product .product li p {
    margin-bottom: 10px;
    font-size: 13px;
}
.section--product .product li h3 {
    font-weight: bold;
    margin-bottom: 50px;
}





/* Footer */
.section--footer .inner {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.section--footer ul {
    margin-top: 250px;
    margin-bottom: 100px;
}
.section--footer ul li {
    margin-top: 15px;
}
.section--footer ul li a {
    text-decoration: none;
    color: #939597;
    font-size: 13px;
}
.section--footer ul li a:hover {
    text-decoration: underline;
}

.section--footer .footer-title {
    font-weight: bold;
}



#toggle-btn {
    text-indent: -9999px;
}


/* Media */
@media (max-width: 1024px) {
    header.section .inner {
        max-width: none;
        height: auto;
        padding: 0 20px;
    }
    header .menu-group,
    header .sign-group {
        float: none;
    }
    header .menu-group {
        display: block;
    }
    header .logo {
        padding: 50px 0 25px;
    }
    header .main-menu {
        display: block;
        margin-bottom: 10px;
    }
    header .main-menu li {
        border-top: 1px solid #e5e5e5;
    }
    header .main-menu li a {
        margin: 20px 0;
    }
    header .sign-group {
        display: block;
    }
    #search-form {
        margin-top: 40px;
        margin-right: 0 ;
    }
    #search {
        width: 100%;
        height: 42px;
    }
    header .sign-menu {
        margin-top: 20px;
        margin-right: 0;
        justify-content: center;
    }
    header .toggle {
        display: none;
    }
    header .toggle.on {
        display: block;
    }
    #toggle-btn {
        background: url(../image/toggle-btn.svg);
        width: 18px;
        height: 24px;
        position: absolute;
        top: 50px;
        right: 20px;
        cursor: pointer;
        text-indent: -9999px;
    }
}
