header.section .inner {
    max-width: none;
    height: auto;
    padding: 0 20px;
}
header .menu-group,
header .sign-group {
    float: none;
}
header .menu-group {
    display: block;
}
header .logo {
    padding: 50px 0 25px;
}
header .main-menu {
    display: block;
    margin-bottom: 10px;
}
header .main-menu li {
    border-top: 1px solid #e5e5e5;
}
header .main-menu li a {
    margin: 20px 0;
}
header .sign-group {
    display: block;
}
#search-form {
    margin-top: 40px;
    margin-right: 0 ;
}
#search {
    width: 100%;
    height: 42px;
}
header .sign-menu {
    margin-top: 20px;
    margin-right: 0;
    justify-content: center;
}
header .toggle {
    display: none;
}
header .toggle.on {
    display: block;
}
#toggle-btn {
    display: block;
}


/* Product */
.section--product .inner {
    max-width: none;
}
.section--product ul {
    grid-template-columns: repeat(2, 1fr);
    /* width: 50%;
    margin-top: 50px; */
}
.section--product li:nth-child(2) {
    margin-right: 0;
}
.section--product li:nth-child(6) {
    margin-right: 0;
}
.section--product li:nth-child(10) {
    margin-right: 0;
}
.section--product li:nth-child(14) {
    margin-right: 0;
}
.section--product li:nth-child(18) {
    margin-right: 0;
}
.section--product .product li img {
    margin: 50px 25% 0;
}
.section--product .product li p {
    margin: 10px 25% 0;
}
.section--product .product li h3 {
    margin: 10px 25% 50px;
}


/* Footer */
.section--footer .inner {
    margin: 0 10%;
}


